* {
  box-sizing: border-box;
}

:root {
  --primary: #44e9ff;
  --secondary: #497980;
  --oldcolor: rgb(192, 246, 253);
  --tertiary: rgb(235, 42, 151);
  --grey: #333;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height:15vh;
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

.display-screen {
  display: block;
  margin: 0 20% 15px 20% ;
}

.main {
  margin: 0 0 15px 0;
}

footer {
  height:2.5rem;
  position: absolute;
  bottom:0;
  width: 100%;
  padding: 0 20px 0 20px;
}

.landing-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

button:hover {
  background: purple;
}

button {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: rgb(235, 42, 151);
  font-size: 1.5rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
  color: white;
  margin: 0 10px 0 0;
}

h2 {
  font-size: 2.5rem;
/*  padding: 10px;*/
  text-align: left;
}

h1, p {
width: 100%;
text-align: center;
margin: 30px;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-weight: normal;
  color: grey;
  font-size: 2.5rem;
  margin: 5px;
  font-style: italic;
}

h4 {
  font-weight: normal;
  /*color: bla;*/
  font-size: 1.5rem;
  margin: 5px 0 5px 0;

}

.response-button {
  margin: 5px;
  width: 470px;
  font-size: 2rem;
  text-align: left;
}

.feedback-container {
  border-top: 1px solid black;
  /*height: 10vh;*/
}

.enter-initials {
  display: flex;
  align-items: center;
  color: black;
}

.enter-initials * {
  height: 2rem;
  display:flex;
  align-items: center;

}

.submit-score  {
  border-radius: 3px%
}

.initial-input-box {
  margin: 0 10px 0 10px;
}

.high-score-container {
  margin: 3px;
  background-color: lavender;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
}

.high-score-container-current {
  margin: 3px;
  background-color: pink;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
}

.button-bar {
  margin: 15px 0 0 0;
}








